# Dependencies
**/node_modules/

# Build output
**/dist/

# Environment files
**/.env
**/.env.*
!**/.env.example
!/.env.example
.env.example

# Logs
*.log

# Prisma generated cache
**/.prisma/

# OS files
.DS_Store
uploads/

# MD Files
API_TESTING.md
BACKEND_STATUS.md
.cursor/